infra/workflows/agent1.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "/agent1",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "2a7c5f94-066d-4079-8291-00e64d72d9f7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -80,
        -128
      ],
      "webhookId": "04ab67a3-831a-4b4c-8679-e4550bda1d23",
      "retryOnFail": false,
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.datas }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "당신은 JSON 응답 전용 AI입니다.\n절대 마크다운 문법을 사용하지 마세요\n\n입력 데이터:\n{\n  \"projectName\": \"string\",\n  \"datas\": {\n    \"title\": \"string\",\n    \"ChapterCount\": \"num\",\n    \"externalLink\": \"string\",\n    \"prompt\": \"string\"\n  }\n}\n\n작업:\n- prompt의 학습자 정보(나이, 실력, 필요 과정)를 분석하세요\n- projectName과 title 기반으로 교육 과정을 count 에 맞게 챕터로 분리하세요\n- 전체 courseDescription 을 짧은 문장 형태로 작성하세요\n- 각 챕터의 title 을 간략하게 작성하세요\n- 각 챕터의 description 을 간단한 문장 형태로 작성하세요\n\n응답 형식:\n{\n  \"courseDescription\" : string,\n  \"chapters\": [\n    {\n      \"id\": integer,\n      \"title\": string,\n      \"description\": string\n    }\n  ]\n}\n\n규칙:\n1. JSON 형식만 응답\n2. 설명이나 추가 텍스트 금지\n3. 정확히 3개 항목만 포함\n4. title과 description은 20자 이내\n5. 에러 메시지도 JSON 형식으로\n\n사용자 입력: {input}"
        }
      },
      "id": "519ab75b-3f4f-47dc-8290-92809cbfdd38",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        128,
        -128
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88e3a7d7-d73e-4d19-b660-911e5d5151be",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        48,
        112
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "uWgyUlmhrmuXy0tI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "3dd14025-6da9-4379-8127-db58188f7333",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        448,
        -128
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"courseDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\"\n          },\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"id\", \"title\", \"description\"]\n      }\n    }\n  },\n  \"required\": [\"courseDescription\", \"chapters\"]\n}"
      },
      "id": "aa9b8a3e-dc1e-4f4b-972a-32d72b934a91",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        336,
        112
      ],
      "typeVersion": 1.3
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5af4454-8234-4f19-9830-42255e6d2771",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40e3afb947db9059ea213473bf189bb5d9b89ce7b9a638c2b1b8359c6baa72f2"
  },
  "id": "g9uXOjAdtMar4lZe",
  "tags": []
}