infra/workflows/CourseMaker.json
{
  "name": "CourseMaker-108copy",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "course",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a37dea81-803f-4672-8574-c92d27cb2aa2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        -96
      ],
      "webhookId": "294cd957-a8ad-4c8d-b97b-dab4aaa55611",
      "retryOnFail": false,
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ad86bbec-99b7-4b91-bf25-91ceb248191b",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        368,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "o1pUX0sSSunBHGtz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a4b3d660-cbae-4534-8388-356af9a0f040",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1072,
        -192
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ \"Title: \" + $json.body.courseTitle + \"\\n\" + \"Description: \" + $json.body.courseDescription + \"\\n\" + \"Prompt: \" + $json.body.prompt + \"\\n\" + \"MaxChapters: \" + $json.body.maxchapters + \"\\n\" + \"Links: \" + $json.body.link.join(\", \") + \"\\n\" + \"Difficulty: \" + $json.body.difficulty }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "당신은 JSON 응답 전용 AI입니다.\n\n입력 데이터는:\n{\n\t\"courseTitle\" : string // 제목\n\t\"courseDescription\" : string // 학습 주제\n\t\"prompt\" : string // 본인 제약 상황(프롬프트)\n\t\"maxchapters\" : number // 최대 코스 개수\n\t\"link\" : string[] // 관련 링크 \n\t\"difficulty\": any // 난이도\n}\n형식으로 되어 있어.\n\n작업:\nYou are an expert course designer and curriculum developer, skilled in creating comprehensive and tailored learning experiences. Your task is to generate a customized course syllabus in a structured JSON format. The syllabus should include a unique course ID and a list of chapters, where each chapter has its own ID, title, and description. You must use all provided course details, learner characteristics, maximum units, learning intensity, and any reference materials to create a comprehensive and tailored syllabus.\n# Step by Step instructions\n1. Create a unique Course ID (must be integer) for the syllabus.\n2. Based on the courseTitle, courseDescription, prompts, maxchapters, and difficulty, generate the title and description for the first chapter.\n3. based on link, get information from the URL provided and extract all contents from the page. Return the entire website contents if possible. If there is no URL in link, , do not return error and use Course Description to search the web and get contents from the promising search results.\n3. Assign a unique ID to the chapter.\n4. Check if the number of generated chapters has reached the Max Units. If not, go back to step 2 to generate the next chapter, ensuring progress towards the Max Units.\n\n\n\n응답 형식:\n{\n\t\"course\": {\n\t\t\"id\": number;\n\t\t\"chapters\": [\n\t\t\t{\n\t\t\t\t\"chapterId\" : number\n\t\t\t\t\"chapterTitle\": string\n\t\t\t\t\"chapterDescription\" : string\t\t\t\t\n\t\t\t},\n\t\t\t{\n\t\t\t\t...\n\t\t\t}\n\t\t]\n\t} \n}\n\n규칙:\nYou are working as part of an AI system, so no chit-chat and no explaining what you're doing and why.\nDO NOT start with \"Okay\", or \"Alright\" or any preambles. Just the output, please.\n"
        }
      },
      "id": "1f7cb467-c545-4862-b2b9-2fa198edb4f2",
      "name": "SyllabusMaker",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        448,
        -96
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// 입력 예시: [{\"output\": \"```json\\n{...}\\n```\"}]\n\nconst raw = $json[\"output\"] || \"\";  // n8n AI 노드 출력\nlet cleaned = raw;\n\n// 백틱 코드블록 제거\ncleaned = cleaned\n  .replace(/```json\\s*/gi, \"\")   // \"```json\" 제거\n  .replace(/```/g, \"\")           // 나머지 백틱 제거\n  .trim();\n\n// JSON 파싱 시도\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // 실패하면 원본 문자열 그대로 반환 (디버그용)\n  parsed = { error: \"JSON parse failed\", raw: cleaned };\n}\n\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -80
      ],
      "id": "578dbc00-3904-4f2e-b602-05bdb37f8357",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SyllabusMaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SyllabusMaker": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SyllabusMaker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bb2506c-161f-4243-bcfb-d0e08f626308",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80eb4af7e1f0a6b1250e1e59a96c1b5d5d7138f42a94f997f80629b587ebbfc8"
  },
  "id": "EKPlyTlp7B20PqcZ",
  "tags": []
}