agent/old_iterations/QuizMaker_v0.7.0.json
{
  "name": "105-1. QuizMaker",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b74ac11e-6693-4b58-8136-2c69f048f789",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        80,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "o1pUX0sSSunBHGtz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"body\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "당신은 JSON 응답 전용 AI입니다.\n\n입력 데이터는 다음 형식으로 주어집니다:\n{\n  \"courseTitle\": \"string\",\n  \"chapterTitle\": \"string\",\n  \"coursePrompt\": \"string\"\n}\n\n당신의 역할:\n당신은 주관식 서술형 문제를 전문적으로 만드는 퀴즈 생성기입니다.  \n입력된 정보를 바탕으로 사고를 유도하는 3개의 주관식 서술형 문제를 생성하세요.  \n\n출력 형식 (반드시 JSON):\n{\n  \"quizes\": [\n    { \"quiz\": \"string\" },\n    { \"quiz\": \"string\" },\n    { \"quiz\": \"string\" }\n  ]\n}\n\n⚠️ **절대 규칙**\n1. 반드시 위 JSON 구조만 출력하세요.\n2. 절대로 [{\"output\": {...}}] 형태로 감싸지 마세요.\n3. 절대로 ```json, ``` 등의 코드 블록을 사용하지 마세요.\n4. 절대로 문자열(JSON string)로 감싸지 마세요.\n5. \"quiz\" 값 안에는 개행 없이 순수 텍스트만 넣으세요.\n6. 대화형 멘트, 설명, 사족 없이 오직 JSON 데이터만 출력하세요.\n7. JSON 객체 바깥에 어떤 텍스트도 추가하지 마세요 (예: \"Here's your answer\", \"Result:\" 등).\n8. 반환 시 무조건 최상위 루트가 { \"quizes\": [...] } 여야 합니다.\n⚠️ 추가 규칙:\n- 절대로 전체 JSON을 배열([]) 형태로 감싸지 마세요.\n- 최상위 구조는 반드시 객체({}) 형태로 시작해야 합니다.\n\n\n\n"
        }
      },
      "id": "2657eba4-cad1-41d4-8226-f5b9665f6e9e",
      "name": "QuizMaker",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        208,
        0
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quiz1",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "35ba2b7c-5f23-41e6-a8b0-913c120835d1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -16,
        0
      ],
      "webhookId": "38e45df3-17c4-423f-9338-589d795396ca",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"quizes\": $json.output.quizes } }}",
        "options": {}
      },
      "id": "137fce73-204b-4a24-9402-33543380eef9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        560,
        0
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// 입력: [{\"output\": { \"quizes\": [ { \"quiz\": \"...\" }, ... ] }}]\n// 출력: { \"quizes\": [ { \"quiz\": \"...\" }, ... ] }\n\nconst input = $input.first().json;\n\n// \"output\" 키가 존재하면 그 내부의 quizes를 추출\nif (input.output && input.output.quizes) {\n  return {quizes: $input.first().json.output.quizes\n};;\n}\n\n// 이미 정제된 quizes 구조라면 그대로 반환\nif (input.quizes) {\n  return {\n  quizes: $input.first().json.output.quizes\n};\n}\n\n\n\n\n// 예외 처리: 구조가 다를 경우 빈 객체 반환\nreturn { quizes: [] };\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        176
      ],
      "id": "8f9c708f-fdf9-4fb7-8a5d-940f70e1be0c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"quizes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quiz\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quiz\"]\n      }\n    }\n  },\n  \"required\": [\"quizes\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "20727306-7ca1-4f9d-ac8d-dbada0e2e1e7",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "QuizMaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuizMaker": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "QuizMaker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "QuizMaker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b336729-304c-463d-bfc5-e56705c63af6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80eb4af7e1f0a6b1250e1e59a96c1b5d5d7138f42a94f997f80629b587ebbfc8"
  },
  "id": "Fo6ZNVpyY1uEmIGd",
  "tags": []
}